.purchase {
  margin-top: 5em;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.purchase__title {
    color: var(--color-red);
    margin-bottom: 1em;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}