.container-similar-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title-similar-products {
    margin-top: 5em;
    margin-bottom: -2em;
    color: var(--color-red);
}