.content-title {
    color: var(--color-red);
    margin-bottom: 0.5em;
}
.content-ul {
    padding-left: 1em;
}
.content-item {
    padding: 0.2em 0;
    font-weight: lighter;
    cursor: pointer;
    color: #515151;
}
